{% extends "base.html" %}
{% block title %}Admin page{% endblock %}

{% block content %}
    <form action="/manager" style="display: inline;">
        <button>Car rental history</button>    
    </form>
    <p>
        <form action="/admin/searchcustomer" style="display: inline;">
            <button>Search customers</button>
        </form>
        <form action="/admin/removecustomer" style="display: inline;">
            <button>Remove a customer</button>
        </form>
        <form action="/admin/addcustomer" style="display: inline;">
            <button>Add a customer</button>
        </form>
    </p>
    <p>
        <form action="/admin/searchcar" style="display: inline;">
            <button>Search cars</button>
        </form>
        <form action="/admin/removecar" style="display: inline;">
            <button>Remove a car</button>
        </form>
        <form action="/admin/addcar" style="display: inline;">
            <button>Add a car</button>
        </form>
    </p>
    
    <form action="/manager" style="display: inline;">
        <button>Modify information of users and cars</button>
    </form>
    <form action="/admin/send" style="display: inline;">
        <button>Report car</button>
    </form>
    <form action="/logout" style="display: inline;">
        <button>Logout</button>   
    </form>
{% endblock %}
