{% extends "base.html" %}
{% block title %} Booking {% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .topnav {
          overflow: hidden;
          background-color: #f1f1f1;
        }
        
        .topnav a {
          float: left;
          display: block;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          border-bottom: 3px solid transparent;
        }
        
        .topnav a:hover {
          border-bottom: 3px solid red;
        }
        
        .topnav a.active {
          border-bottom: 3px solid red;
        }
        </style>
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <div class="topnav">
          <a class="active" href="#home">Home</a>
          <a href="#news">News</a>
          <a href="/contact">Contact</a>
          <a> hello,{{user}}</a>
          <a href="/logout">Logout</a>
      </div>
<section class="section-background">
    <div class="container">
         <div class="row">
              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-1-720x480.jpg') }}" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Large: Premium</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                             
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-2-720x480.jpg') }}" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Large: Station wagon</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                            
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-3-720x480.jpg') }}" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Medium: Low emission</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                            
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-4-720x480.jpg') }}" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 4</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Small: Economy</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                             
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-5-720x480.jpg') }}"class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 2</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 2</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 2</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> M</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Small: Mini</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                           
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-6-720x480.jpg') }}" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Large: Premium</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                         
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>
         </div>
    </div>
</section>

<div class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
              <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <h4 class="modal-title" id="gridSystemModalLabel">Book Now</h4>
              </div>
              
              <div class="modal-body">
                   <form action="#" id="contact-form">
                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Pick-up location" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Return location" required>
                             </div>
                        </div>

                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Pick-up date/time" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Return date/time" required>
                             </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter full name" required>

                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Enter email address" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Enter phone" required>
                             </div>
                        </div>
                   </form>
              </div>

              <div class="modal-footer">
                   <button type="button" class="section-btn btn btn-primary">Book Now</button>
              </div>
         </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Headquarter</h2>
                        </div>
                        <address>
                             <p>212 Barrington Court <br>New York, ABC 10001</p>
                        </address>

                        <ul class="social-icon">
                             <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text"> 
                             <p>Copyright &copy; 2020 Company Name</p>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Contact Info</h2>
                        </div>
                        <address>
                             <p>+1 333 4040 5566</p>
                             <p><a href="mailto:contact@company.com">contact@company.com</a></p>
                        </address>

                        <div class="footer_menu">
                             <h2>Quick Links</h2>
                             <ul>
                                  <li><a href="index.html">Home</a></li>
                                  <li><a href="about-us.html">About Us</a></li>
                                  <li><a href="terms.html">Terms & Conditions</a></li>
                                  <li><a href="contact.html">Contact Us</a></li>
                             </ul>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-12">
                   <div class="footer-info newsletter-form">
                        <div class="section-title">
                             <h2>Newsletter Signup</h2>
                        </div>
                        <div>
                             <div class="form-group">
                                  <form action="#" method="get">
                                       <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required>
                                       <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                  </form>
                                  <span><sup>*</sup> Please note - we do not spam your email.</span>
                             </div>
                        </div>
                   </div>
              </div>
              
         </div>
    </div>
</footer>
<!-- <script type="module">"js/jquery.js";</script>
<script type="module">"js/bootstrap.min.js";</script>
<script type="module">"js/owl.carousel.min.js";</script>
<script type="module">"js/smoothscroll.js";</script>
<script type="module">"js/custom.js";</script> -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
     <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
{% endblock %}
