{% extends "base.html" %}
{% block title %} Booking {% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .topnav {
          overflow: hidden;
          background-color: #f1f1f1;
        }
        
        .topnav a {
          float: left;
          display: block;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          border-bottom: 3px solid transparent;
        }
        
        .topnav a:hover {
          border-bottom: 3px solid red;
        }
        
        .topnav a.active {
          border-bottom: 3px solid red;
        }
        </style>
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
      </div>
<section class="section-background">
    <div class="container">
         <div class="row">
              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-1-720x480.jpg') }}" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Large: Premium</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                             
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-2-720x480.jpg') }}" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Large: Station wagon</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                            
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-3-720x480.jpg') }}" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Medium: Low emission</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                            
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-4-720x480.jpg') }}" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 4</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Small: Economy</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                             
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-5-720x480.jpg') }}"class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 2</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 2</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 2</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> M</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Small: Mini</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                           
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                             <div class="courses-image">
                                  <img src="{{ url_for('static', filename='images/product-6-720x480.jpg') }}" class="img-responsive" alt="">
                             </div>
                             <div class="courses-date">
                                  <span title="passegengers"><i class="fa fa-user"></i> 5</span>
                                  <span title="luggages"><i class="fa fa-briefcase"></i> 4</span>
                                  <span title="doors"><i class="fa fa-sign-out"></i> 4</span>
                                  <span title="transmission"><i class="fa fa-cog"></i> A</span>
                             </div>
                        </div>

                        <div class="courses-detail">
                             <h3><a href="fleet.html">Large: Premium</a></h3>
                             <p class="lead"><small>from</small> <strong>$99</strong> <small>per weekend</small></p>
                         
                        </div>

                        <div class="courses-info">
                             <button type="button" data-toggle="modal" data-target=".bs-example-modal" class="section-btn btn btn-primary btn-block">Book Now</button>
                        </div>
                   </div>
              </div>
         </div>
    </div>
</section>

<div class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
              <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <h4 class="modal-title" id="gridSystemModalLabel">Book Now</h4>
              </div>
              
              <div class="modal-body">
                   <form action="#" id="contact-form">
                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Pick-up location" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Return location" required>
                             </div>
                        </div>

                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Pick-up date/time" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Return date/time" required>
                             </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter full name" required>

                        <div class="row">
                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Enter email address" required>
                             </div>

                             <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Enter phone" required>
                             </div>
                        </div>
                   </form>
              </div>

              <div class="modal-footer">
                   <button type="button" class="section-btn btn btn-primary">Book Now</button>
              </div>
         </div>
    </div>
</div>
<!-- <script type="module">"js/jquery.js";</script>
<script type="module">"js/bootstrap.min.js";</script>
<script type="module">"js/owl.carousel.min.js";</script>
<script type="module">"js/smoothscroll.js";</script>
<script type="module">"js/custom.js";</script> -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
     <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>
{% endblock %}
