{% extends "base.html" %}
{% block title %} LOGIN PAGE {% endblock %}
{% block content %}
<h1>EXECUTIVE LOGIN PAGE</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="POST">
    <p>Username: </p>
    <p><input type="text" name="name"/></p>
    <p>Password: </p>
    <p><input type="password" name="password"/></p>
    <p><input type="submit" name="submit"/></p>
</form>
{% endblock %}